.PricingCard {
  width: 100%;
  padding: 4rem 1rem;
  background-color: black;
}
.PricingCard h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}
.card-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media screen and (max-width: 640px) {
  .card-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
  .PricingCard h1 {
    font-size: 2rem;
  }
}
